{% extends 'partials/variables.html.twig' %}

{% set contents = page.header.contents %}

{% block render_block %}

<div class="video-section slide-up">
    <div class="container">
    
        <div class="video-wrapper">
            <div class="head-content">
                <h2>{{ contents.title.translatable }}</h2>
            </div>

            <div class="content">
                <iframe width="100%" height="100%" src="{{ contents.youtube_embed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        </div>
    </div>

</div>
{% endblock %}