{% set links = config.site.footer.links %}

{% set landingLinks = links[:6] %}

{% include 'widgets/footer-top.html.twig' %}

<footer class="footer-section slide-up">

	<div class="container">

		<div class="footer-logo-container">
			<div class="footer-logo-top">
				<div class="footer-logo-area">
					{% include 'widgets/logo.html.twig' with { position: 'footer' } %}

					<p class="branding-text service-description">{{ page.find('/home').header.footer.branding_text.translatable }}</p>
					
					<div class="footer-card-mobile-view">
						{% include 'widgets/footer-card.html.twig' %}
					</div>

					<div class="copyright-desktop-view">
						{% include 'widgets/footer-copyright.html.twig' %}
					</div>
				</div>
				
				{% include 'widgets/footer-link.html.twig' %}

				<div class="footer-contact-wrapper">
					{% include 'widgets/footer-contact.html.twig' %}

					<div class="footer-card-desktop-view">
						{% include 'widgets/footer-card.html.twig' %}
					</div>

					<div class="copyright-mobile-view">
						{% include 'widgets/footer-copyright.html.twig' %}
					</div>
				</div>
				
			</div>

			
		</div>
	</div>
	
</footer>

<style>
	{% include 'partials/custom.css.twig' %}
</style>