{% extends 'partials/variables.html.twig' %}

{% set module = page.find('/home').header.offer %}

{% block render_block %}

	<div class="footer-top footer_top_bottom_in_home" >
		<div class="container">
			<div class="offer-text">


				<div class="offer-content"> 
					<h1 class="offer-title">
                        {{ page.find('/home').header.offer.h1.translatable }}
					</h1>

					<p class="">{{ page.find('/').header.offer.text.translatable }}</p>

					{% for button in module.buttons  %}
						<a class="button " href="{{ url(grav.language.getActive ~ '/' ~ button.link) }}">

							<span>{{ button.text.translatable|striptags('</br>')|raw }}</span>
							
						</a>
					{% endfor %}

				</div>

				
			</div>

		</div>
	</div>
{% endblock %}
