.page-change-password{

  .change-password-section{
    //background: var(--unsubscribe-bg-container);
    // padding-top: 6.25rem;
    position: relative;
    margin: 0;
    border-radius: 8px 8px 0px 0px;

    @include whq-card-form(
      $text-color: var(--unsubscribe-text),
      $title-bg: var(--unsubscribe-bg),
      $title-color: var(--unsubscribe-title),
      $card-shadow: none,
      $border-radius: 24px,
      $spacing: 0rem,
      $title_typography: (size: display-xs, weight: semibold),
      $button_typography: (size: text-lg, weight: bold),
      $label_typography: (size: text-md, weight: semibold),
      $input_styles: (),
    );
  }
  .form-actions{

    align-self: center;
    .button{
      width: fit-content;
      border-radius: 12px;
      padding: 14px 20px;
      @include typography(text-md, semibold);
      color: var(--color-white);
      background: var(--warning);

      // display: inline-flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
    // .button::before {
    //   content: ""; 
    //   display: inline-block;
    //   width: 16px;
    //   height: 16px;
    //   background: url('./../../images/button-icon.svg') no-repeat center center;
    //   background-size: contain;
    
    // }

  }
}
// .page-change-password .change-password-section .whq-card .whq-card-container {
//   border-radius: 2rem;
// }

// .page-change-password .change-password-section .whq-card {
//   margin-top: 0;
//   margin-bottom: 0 !important;
//   padding-bottom: 4rem !important;
// }