#unsubscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unsubscribe-section {
  background: var(--unsubscribe-bg-container);
  padding-top: 15rem;
  position: relative;


  .unsubscribe {
    box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.04), 0px 4px 16px 0px rgba(51, 51, 51, 0.08) !important;
    background: var(--unsubscribe-bg);
    border-radius: 20px !important;
    // margin-bottom: $content-margin !important;
    padding: 44px !important;
    position: absolute;
    top: calc(50% - 900px);

    @include mobile {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
      padding-left: 12px !important;
      padding-right: 12px !important;
    }

    .unsubscribe-title {
      @include typography(display-xs, medium);
    }

    #unsubscribe {

      label {
        @include typography(text-md, semibold);
        font-family: var(--secondary-font);
      }

      .form-input {
        border: none;
        border-bottom: 1px solid #8F8F8F;
        background: var(--color-white) !important;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    
      }

      .form-actions {
        width: 100%;

        button {
          @include typography(text-md, semibold);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          width: 100%;
          padding: 14px 20px !important;
          background: #D80000 !important;
          color: var(--color-white);
          border-radius: 8px;
          font-weight: 500;
      
          // &::before {
          //   content: "";
          //   display: inline-block;
          //   width: 16px;
          //   height: 16px;
          //   background: url('./../../images/button-icon.svg') no-repeat center center;
          //   background-size: contain;
      
          // }
        }
      }
    }
  }
}

#unsubscribe {

  label {
    @include typography(text-xl, regular);
    color: var(--color-text-light);
    // font-family: var(--secondary-font);
  }

  // .form-input {
  //   border: none;
  //   border-bottom: 1px solid #8F8F8F;
  //   background: var(--color-white) !important;
  //   box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  // }

  .form-actions {
    width: 100%;

    button {
      @include typography(text-lg, extra_bold);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      width: 70%;
      padding: 12px 20px !important;
      background: var(--warning) !important;
      color: var(--color-white);
      border-radius: 12px;
      margin-top: 3rem;
          
      @include tablet {
        width: 100%;
        // @include typography()
      }
  
      // &::before {
      //   content: "";
      //   display: inline-block;
      //   width: 16px;
      //   height: 16px;
      //   background: url('./../../images/button-icon.svg') no-repeat center center;
      //   background-size: contain;
  
      // }
    }
  }
}


.unsubscribe-form {

  // input {
  //   border: none;
  //   border-bottom: 1px solid var(--color-text-light);
  //   padding: 0.625rem 1rem 0.625rem 0;
  //   background: transparent;
  //   &:focus {
  //     //border-color: $border-color;
  //     //transform: scale($scale);
  //     outline: none;
  //   }
  // }

  .button {
    @include typography(text-md, medium);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 100%;
    padding: 14px 20px !important;
    background: var(--unsubscribe-btn-bg);
    color: var(--color-white);
    border-radius: 32px;
    display: flex;
    gap: 10px;
  }
}

.notice {
  margin-bottom: 0px !important;
  display: flex;
  padding: 0px !important; 
  gap: 10px;
  border-radius: 5px;
}

.unsubscribe-section .container{
  display: flex;
  justify-content: center;
}

.page-unsubscribe {
  .unsubscribe-title {
    font-family: var(--secondary-font);
    @include typography(display-lg, semibold);
    color: var(--color-text-dark);
    text-align: left;
    // align-self: center;

    @include desktop-small{
      @include typography(display-sm, semibold);
    }
  }
  p {
    @include typography(text-lg, normal);
    color: var(--color-text-light);
    text-align: left;

    // @include desktop-small{
    //   @include typography(display-sm, semibold);
    // }
  }
}