<div class="pricing" data="{{ packageKey }}">
    <div class="pricing-content">
        <div class="recommended-tag-parent">
            {% if header.on_package == package %}
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="18" viewBox="0 0 50 18" fill="none">
                    <path d="M25 0L49.2487 17.8393H0.751289L25 0Z" fill="#255728"/>
                </svg>
            {% endif %}
            {% include 'partials/product_pricing/widget/_recommended_tag.html.twig' %}
        </div>
        
        {% include 'partials/product_pricing/widget/_benefits.html.twig' with { iterationCount: iterationCount } %}

        <div class="package-top-section">
            <div class="price">
                <div class="package-title">
                    {% include 'partials/product_pricing/widget/_package_title.html.twig' %}
                    {% if iterationCount == 1 %}
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="24" fill="#F0F0FF"/>
                            <path d="M26.7677 14.25C27.5272 14.2498 28.0357 14.25 28.5235 14.3692C28.7443 14.4231 28.9601 14.4947 29.1681 14.584C29.6299 14.7824 30.0246 15.0865 30.6046 15.5332L30.6749 15.5879L30.7071 15.6123L31.4513 16.1865C32.1544 16.7326 32.7354 17.1989 33.1925 17.6279C33.8153 18.2125 34.2739 18.787 34.5148 19.4873C34.7124 20.0622 34.7867 20.6683 34.7325 21.2715C34.6662 22.0091 34.3545 22.6683 33.8858 23.3682C33.4283 24.0513 32.772 24.843 31.9474 25.8389L27.8898 30.7393C27.1533 31.6287 26.548 32.3604 25.9923 32.8613C25.4088 33.3873 24.7832 33.75 24.0001 33.75C23.217 33.75 22.5914 33.3873 22.0079 32.8613C21.4522 32.3604 20.8469 31.6287 20.1105 30.7393L16.0528 25.8389L15.4659 25.1289C14.9122 24.454 14.4575 23.8806 14.1144 23.3682C13.6457 22.6683 13.334 22.0091 13.2677 21.2715C13.2135 20.6683 13.2878 20.0622 13.4855 19.4873C13.7263 18.787 14.1849 18.2125 14.8077 17.6279C15.4172 17.0559 16.2469 16.4177 17.2931 15.6123L17.3253 15.5879L17.3956 15.5332C17.9756 15.0865 18.3703 14.7824 18.8321 14.584C19.0401 14.4947 19.2559 14.4231 19.4767 14.3692C19.9646 14.25 20.473 14.2498 21.2325 14.25H26.7677ZM22.0001 19.75C21.5859 19.75 21.2501 20.0858 21.2501 20.5C21.2501 20.9142 21.5859 21.25 22.0001 21.25H26.0001C26.4143 21.25 26.7501 20.9142 26.7501 20.5C26.7501 20.0858 26.4143 19.75 26.0001 19.75H22.0001Z" fill="#01B26E"/>
                        </svg>

                    {% else %}
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="24" cy="24" r="24" fill="#F0F0FF"/>
                            <path d="M31.0195 28.5849C31.1886 28.6611 31.1984 28.8731 31.2187 29.2958C31.2733 30.4337 30.9543 31.4503 30.5283 32.2704C30.1562 32.9867 29.7029 33.5586 29.3457 33.9492C29.2139 34.1137 28.8997 34.4693 28.6953 34.579L28.6933 34.58C28.4836 34.7495 28.1991 34.7954 27.9472 34.6992C27.6954 34.6029 27.5139 34.3793 27.4707 34.1132C27.3599 33.4312 27.0855 32.7371 26.7255 32.0781C26.5759 31.8041 26.5012 31.667 26.5351 31.5478C26.5692 31.4288 26.7007 31.3543 26.9638 31.205C28.228 30.488 29.3367 29.7324 30.3037 28.9501C30.6675 28.6558 30.8499 28.5089 31.0195 28.5849ZM17.2861 26.0898C17.5025 25.7871 17.9073 25.687 18.2402 25.8535C19.813 26.6399 21.3581 28.1851 22.1445 29.7577C22.3109 30.0907 22.2101 30.4955 21.9072 30.7119H21.9062C21.6252 30.9926 20.7975 31.3016 20.4189 31.4208C19.557 31.6853 18.3265 31.8191 17.1494 31.0976C17.0478 31.0352 16.9626 30.9492 16.9003 30.8476C16.1788 29.6703 16.3126 28.4399 16.5771 27.5781C16.7 27.057 17.1008 26.3686 17.2861 26.0898ZM26.0586 13.9218C29.1097 12.7894 31.8976 13.2577 33.5722 14.0849C33.7212 14.1585 33.8414 14.2797 33.915 14.4286C34.7422 16.1033 35.2114 18.8904 34.0791 21.9413C32.9406 25.0087 30.2161 28.26 24.8017 30.9228C24.5948 31.0244 24.3528 31.0263 24.1445 30.9277C23.9359 30.8288 23.7836 30.6398 23.7314 30.415C23.613 29.9051 22.9544 28.2845 21.3349 26.665C19.7155 25.0456 18.0948 24.3869 17.5849 24.2685C17.3604 24.2162 17.1721 24.0646 17.0732 23.8564C16.9743 23.6478 16.9762 23.4053 17.0781 23.1982C19.7408 17.7842 22.9913 15.0604 26.0586 13.9218ZM30.0273 17.9726C29.0426 16.988 27.4456 16.9879 26.4609 17.9726C25.4762 18.9573 25.4763 20.5543 26.4609 21.539C27.4456 22.5237 29.0426 22.5237 30.0273 21.539C31.012 20.5543 31.012 18.9573 30.0273 17.9726ZM18.7031 16.7792C19.1262 16.7995 19.338 16.8099 19.414 16.9794C19.49 17.149 19.3422 17.3313 19.0478 17.6952C18.2657 18.6621 17.5108 19.7711 16.7939 21.0351C16.6446 21.2984 16.5693 21.4299 16.4502 21.4638C16.3311 21.4975 16.1937 21.4229 15.9199 21.2734C15.261 20.9136 14.5675 20.638 13.8857 20.5273C13.6196 20.4841 13.396 20.3026 13.2998 20.0507C13.2037 19.799 13.2486 19.5152 13.4179 19.3056L13.4199 19.3027C13.5297 19.0983 13.8853 18.7849 14.0498 18.6533C14.4403 18.296 15.0113 17.8417 15.7275 17.4697C16.5477 17.0436 17.565 16.7246 18.7031 16.7792Z" fill="#7F52D9"/>
                        </svg>
                    {% endif %}
                    
                </div>
                {% include 'partials/product_pricing/widget/_pricing_section.html.twig' %}
                    
            </div>
            {% include 'partials/product_pricing/widget/_signup_btn.html.twig' %}
        </div>
    </div>
    
</div>
{# <script>
   // Embed the product data as a JSON object
   var output = {{ product| json_encode | raw }};
   console.log('Product', output);
</script> #}