<div class="pricing" data="{{ packageKey }}">
    <div class="pricing-content">
        <div class="recommended-tag-parent">
            {% if header.on_package == package %}
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="18" viewBox="0 0 50 18" fill="none">
                    <path d="M25 0L49.2487 17.8393H0.751289L25 0Z" fill="#255728"/>
                </svg>
            {% endif %}
            {% include 'partials/product_pricing/widget/_recommended_tag.html.twig' %}
        </div>
        <div class="package-top-section">
            <div class="price">
                <div class="package-title">
                    {% if iterationCount == 1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                            <g clip-path="url(#clip0_114_2348)">
                                <path d="M27.9543 0.924187C27.9001 0.758605 27.7995 0.612109 27.6643 0.502197C27.5291 0.392286 27.3652 0.323606 27.192 0.304359C27.1675 0.301734 25.131 0.072375 22.1825 0.0722656C20.2564 0.0723203 17.9411 0.169992 15.5381 0.496367C13.7358 0.741422 11.8838 1.11483 10.107 1.678C8.77455 2.10057 7.48393 2.63 6.28983 3.29686C5.39449 3.79709 4.55334 4.37497 3.79345 5.04418C2.65388 6.04704 1.69745 7.25946 1.03321 8.70135C0.367993 10.1426 -0.000764435 11.8069 1.18982e-06 13.6902C1.18982e-06 14.9676 0.168001 16.3464 0.521829 17.835C0.848915 19.211 1.33498 20.6815 1.99571 22.2558C1.30982 23.6753 0.711704 25.1725 0.224056 26.7493C0.0755793 27.2293 0.344314 27.7388 0.824361 27.8871C1.3043 28.0356 1.81382 27.7669 1.9623 27.2868C2.36792 25.9756 2.85491 24.7222 3.40889 23.524C4.78652 24.2111 6.18456 24.7538 7.57515 25.1419C9.25209 25.61 10.9185 25.8544 12.525 25.8545C14.0447 25.8545 15.5118 25.6353 16.8761 25.175C17.899 24.83 18.8637 24.3489 19.7433 23.7261C21.0633 22.7927 22.1878 21.5394 23.0347 19.9787C23.8827 18.4176 24.4553 16.5533 24.704 14.3874C25.3423 8.825 26.1562 5.61736 26.7859 3.84237C27.1003 2.95479 27.3681 2.42591 27.5391 2.13858C27.6247 1.99486 27.6859 1.91146 27.7162 1.87291C27.7238 1.86328 27.7295 1.85639 27.7331 1.85218L27.7378 1.84671L27.7376 1.84655C27.8552 1.7277 27.9377 1.57867 27.9759 1.4159C28.0142 1.25313 28.0067 1.08297 27.9543 0.924187ZM3.1167 20.1339C2.76768 19.1751 2.49501 18.2692 2.29184 17.4144C1.96651 16.0454 1.8194 14.8078 1.8194 13.6902C1.81962 12.3875 2.01824 11.2483 2.37136 10.24C2.68078 9.35771 3.10899 8.57409 3.63858 7.86846C4.10206 7.25131 4.64379 6.69421 5.25279 6.19037C6.31788 5.30881 7.59063 4.59142 8.98576 4.01737C11.0778 3.15544 13.4415 2.61895 15.7495 2.30384C18.0575 1.98808 20.3093 1.89155 22.1825 1.89166C22.8903 1.89166 23.5438 1.90539 24.1265 1.92601C21.7279 3.05809 18.4609 4.80924 15.0631 7.27149C15.0674 7.2214 15.072 7.17076 15.0773 7.11935C15.1335 6.57002 15.2461 5.9457 15.4529 5.3133C15.6089 4.83571 15.3482 4.32209 14.8706 4.16612C14.393 4.01015 13.8794 4.27084 13.7234 4.74837C13.4682 5.53019 13.3345 6.28001 13.2675 6.93407C13.2279 7.32051 13.2081 7.70871 13.208 8.09716C13.208 8.26369 13.2117 8.41512 13.2173 8.54921C13.2191 8.59088 13.221 8.63042 13.2232 8.66865C12.7811 9.02003 12.3451 9.37902 11.9154 9.74545C10.3086 11.1169 8.72424 12.6541 7.24079 14.3653C7.23146 14.1788 7.2267 13.9921 7.22652 13.8053C7.22652 13.3782 7.25003 12.9603 7.29252 12.5541C7.41573 11.3742 7.69945 10.2928 8.02462 9.37751C8.19273 8.90402 7.94522 8.38395 7.47184 8.21584C6.99836 8.04773 6.47828 8.29524 6.31017 8.76862C5.94606 9.79434 5.6245 11.0128 5.48302 12.3649C5.43276 12.8434 5.40744 13.3241 5.40717 13.8052C5.40712 14.6135 5.48084 15.4572 5.65201 16.3216C5.47084 16.5595 5.29253 16.7995 5.11711 17.0416C4.40809 18.023 3.73762 19.0536 3.1167 20.1339ZM24.5301 4.97522C23.9737 7.00281 23.3838 9.93685 22.8963 14.1799C22.695 15.9313 22.2674 17.4157 21.6685 18.6563C21.219 19.587 20.6733 20.3815 20.0478 21.0544C19.1091 22.0629 17.9897 22.8016 16.7222 23.296C15.4551 23.7895 14.0383 24.0353 12.5248 24.0353C11.1034 24.0354 9.59826 23.8181 8.06416 23.3897C6.79191 23.0346 5.50009 22.5341 4.22013 21.8957C4.93489 20.5594 5.73234 19.2971 6.59192 18.1067C6.72053 17.929 6.8508 17.7525 6.98272 17.5772C7.19759 17.6537 7.52757 17.7644 7.95271 17.8868C8.7232 18.1084 9.80427 18.3678 11.073 18.5249C11.7688 18.611 12.5212 18.6661 13.3102 18.6662C13.9597 18.6662 14.6339 18.6288 15.3212 18.5398C15.8195 18.4753 16.1711 18.0191 16.1066 17.5208C16.042 17.0225 15.5858 16.6709 15.0876 16.7354C14.4862 16.8133 13.8897 16.8468 13.3101 16.8468C12.6062 16.8468 11.9274 16.7974 11.2962 16.7193C10.1454 16.5771 9.15337 16.3392 8.45567 16.1384C8.36598 16.1125 8.27651 16.086 8.18727 16.0587C10.08 13.7975 12.1761 11.832 14.285 10.1481C14.3614 10.1799 14.4383 10.2107 14.5156 10.2403C14.9956 10.4244 15.6805 10.641 16.531 10.7853C17.1617 10.8921 17.8002 10.9457 18.4398 10.9456C18.7904 10.9456 19.156 10.9295 19.535 10.8936C20.0351 10.8462 20.4022 10.4022 20.3547 9.90207C20.3073 9.4019 19.8634 9.03489 19.3632 9.0823C19.0432 9.1126 18.735 9.12616 18.4399 9.12616C17.8495 9.12616 17.3108 9.07224 16.8355 8.99158C16.5646 8.94562 16.2959 8.88765 16.0301 8.81784C16.2116 8.68551 16.394 8.55441 16.5772 8.42452C19.7269 6.193 22.7446 4.58606 24.9648 3.54186C24.824 3.96066 24.6783 4.43556 24.5301 4.97522Z" fill="#15301F"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_114_2348">
                                    <rect width="28" height="28" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <g clip-path="url(#clip0_114_2383)">
                            <path d="M22.5962 1.05078H5.40543L0 8.42178L14.0581 26.9502L28.0001 8.41965L22.5962 1.05078ZM7.6853 9.23157L11.646 21.0643L2.66814 9.23157H7.6853ZM9.41074 9.23157H18.5957L14.0347 23.046L9.41074 9.23157ZM20.3188 9.23157H25.3417L16.3911 21.1279L20.3188 9.23157ZM21.7669 2.68694L25.3665 7.59541H20.3199L18.7093 2.68694H21.7669ZM16.9873 2.68694L18.5979 7.59541H9.40365L11.0142 2.68694H16.9873ZM6.23452 2.68694H9.29217L7.6816 7.59541H2.63498L6.23452 2.68694Z" fill="#15301F"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_114_2383">
                                <rect width="28" height="28" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                    {% endif %}
                    {% include 'partials/product_pricing/widget/_package_title.html.twig' %}
                </div>
                {% include 'partials/product_pricing/widget/_pricing_section.html.twig' %}
            </div>
        </div>

        {% include 'partials/product_pricing/widget/_signup_btn.html.twig' %}
        
        {% include 'partials/product_pricing/widget/_benefits.html.twig' with { iterationCount: iterationCount } %}
    </div>
    
    
</div>
{# <script>
   // Embed the product data as a JSON object
   var output = {{ product| json_encode | raw }};
   console.log('Product', output);
</script> #}