.page-forgot {
  .login-page-content {
    padding: $content-padding 0;

    @include desktop-small {
      padding: $content-padding-sm 32px;
    }
  }
}

.form-login-wrapper {

  h1 {
    @include typography(display-xs, normal);
    font-weight: 600;
  }
}

.page-change-password{
  .content-section {
    display: flex;
    justify-content: center;
    align-self: stretch;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0 15rem;
    position: relative;

    .chp_forms {
      position: absolute;
      top: calc(50% - 400px);
      width: 600px;
      padding: 44px !important;
      background: white;
      box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.04), 0px 4px 16px 0px rgba(51, 51, 51, 0.08);
      border-radius: 20px;

      @include desktop-small{
        width: 100%;
      padding: 44px 12px !important;
      margin: $content-margin-sm 16px !important;
      }
    }
  }

}

 .change-password-form {
    // max-width: 600px;
    // width: 600px;
    // padding: 44px !important;
    // margin: $content-margin auto !important;
    // background: var(--bg-body);

    // @include desktop-small {
    //   width: auto;
    //   padding: 44px 12px !important;
    //   margin: $content-margin-sm 16px !important;
    // }

    label {
      display: none;
    }

    input {
      border: 1px solid #A6A6A6;
      border-radius: 8px;
    }

    .form-actions {
      text-align: center;
      width: 100%;

      button {
        display: block;
        width: 100%;
        // background: #D80000;
        background: #251919;
        color: var(--change-password-btn-color);
        border-radius: 8px;
        padding: 20px 40px;
        @include typography(base, semibold);
      }
    }
}