<div class="benefits">
    {% for benefit in product.all_benefits %}
        <div class="benefit">
        {# {% if iterationCount == 1 %} #}
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <g clip-path="url(#clip0_114_2359)">
                    <path d="M9 0C4.0372 0 0 4.0372 0 9C0 13.9628 4.0372 18 9 18C13.9628 18 18 13.9628 18 9C18 4.0372 13.9628 0 9 0Z" fill="#15301F"/>
                    <path d="M13.5615 7.09296L8.68648 11.9679C8.54023 12.1141 8.34824 12.1877 8.15625 12.1877C7.96427 12.1877 7.77228 12.1141 7.62603 11.9679L5.18857 9.53041C4.89523 9.23721 4.89523 8.76316 5.18857 8.46996C5.48178 8.17662 5.95568 8.17662 6.24903 8.46996L8.15625 10.3772L12.5011 6.03251C12.7943 5.73916 13.2682 5.73916 13.5615 6.03251C13.8547 6.32571 13.8547 6.79962 13.5615 7.09296Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0_114_2359">
                        <rect width="18" height="18" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        {# {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<path d="M13.5739 7.92109L8.69887 12.796C8.55262 12.9422 8.36063 13.0159 8.16864 13.0159C7.97666 13.0159 7.78467 12.9422 7.63842 12.796L5.20096 10.3585C4.90762 10.0653 4.90762 9.59129 5.20096 9.29809C5.49417 9.00474 5.96807 9.00474 6.26142 9.29809L8.16864 11.2053L12.5135 6.86063C12.8067 6.56729 13.2806 6.56729 13.5739 6.86063C13.8671 7.15384 13.8671 7.62774 13.5739 7.92109Z" fill="#181818"/>
</svg>
        {% endif %} #}
        <div class="streamline">{{ benefit|markdown(false) }}</div>
        </div>
    {% endfor %}
</div>