{% set escaped_package_name = header.on_package|replace({'/': '\/', '.': '\.', '-': '\-'}) %}
{% if header.recommended_tag and package matches('/' ~ escaped_package_name ~ '/') %}
    <div class="recommended-tag">
        {# <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
            <g clip-path="url(#clip0_18114_7179)">
                <path d="M11.6206 16.3439L11.8705 16.2932C12.2004 16.2263 12.2004 15.7549 11.8705 15.688L11.6206 15.6373C10.991 15.5097 10.4989 15.0176 10.3712 14.3879L10.3205 14.138C10.2537 13.8082 9.78223 13.8082 9.71535 14.138L9.66469 14.3879C9.53703 15.0176 9.04492 15.5097 8.41527 15.6373L8.16535 15.688C7.83551 15.7549 7.83551 16.2263 8.16535 16.2932L8.41527 16.3439C9.04492 16.4715 9.53703 16.9636 9.66469 17.5933L9.71535 17.8432C9.78223 18.173 10.2537 18.173 10.3205 17.8432L10.3712 17.5933C10.4989 16.9636 10.991 16.4715 11.6206 16.3439Z" fill="#111111"/>
                <path d="M10.7493 6.60354L11.9456 6.361C12.5104 6.24647 12.5104 5.43932 11.9456 5.32479L10.7493 5.08225C9.57038 4.84322 8.64902 3.92186 8.40999 2.74295L8.16745 1.54662C8.05292 0.981855 7.24577 0.981855 7.13124 1.54662L6.8887 2.74295C6.64968 3.92186 5.72831 4.84322 4.54941 5.08225L3.35308 5.32479C2.78831 5.43932 2.78831 6.24647 3.35308 6.361L4.54941 6.60354C5.72831 6.84256 6.64968 7.76393 6.8887 8.94283L7.13124 10.1392C7.24577 10.7039 8.05292 10.7039 8.16745 10.1392L8.40999 8.94283C8.64898 7.76393 9.57038 6.8426 10.7493 6.60354Z" fill="#111111"/>
                <path d="M19.2552 10.7656L20.174 10.5793C20.6077 10.4914 20.6077 9.87145 20.174 9.78352L19.2552 9.59723C18.3499 9.41363 17.6423 8.70609 17.4587 7.8007L17.2724 6.88195C17.1845 6.4482 16.5646 6.4482 16.4767 6.88195L16.2904 7.8007C16.1068 8.70609 15.3993 9.41367 14.4939 9.59723L13.5751 9.78352C13.1414 9.87145 13.1414 10.4914 13.5751 10.5793L14.4939 10.7656C15.3993 10.9492 16.1068 11.6567 16.2904 12.5621L16.4767 13.4809C16.5646 13.9146 17.1845 13.9146 17.2724 13.4809L17.4587 12.5621C17.6423 11.6568 18.3499 10.9491 19.2552 10.7656Z" fill="#111111"/>
            </g>
            <defs>
                <clipPath id="clip0_18114_7179">
                <rect width="20" height="20" fill="white" transform="translate(0.5 0.5)"/>
                </clipPath>
            </defs>
        </svg> #}
        <span>{{ header.recommended_text.translatable|default('Best Value') }}</span>
    </div>
{% endif %}